<!------------------------ Menu Slider ------------------------>
<div id="sp-nav">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
         
		 <li class="topcoat-list__item2"  style="height:88px">
		    <a href="#/profile">
			<img style="float:left; width:84px; height:91px; margin-right:10px;" src="resources/img/0003.png" />
			Hayden Sookchand<br>Electronic Eng
			</a>
		 </li>   
		
		<li class="topcoat-list__item2">
		    <img src="resources/img/icon-home.png" />
			<a href="#/main">Home</a>
		</li>		  
		
		<li class="topcoat-list__item2" >
		    <img  src="resources/img/icon-messages.png" />
			<a href="#/reports">Reports</a>
		</li>
        
		<li class="topcoat-list__item2" >
		    <img src="resources/img/icon-settings.png" />
			<a href="#/settings">Settings</a>
		</li>
		
		<li class="topcoat-list__item2" ng-click="reload()">
		   <img src="resources/img/refresh2.png" />
			Refresh
		</li>	
		
		 <li class="topcoat-list__item2" style="height:15px">
		   <img src="resources/img/logout.png" />
		   <a href="#/">Logout</a>
		 </li>
		 
        </ul>
    </div>
</div>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
          
             <h1 class="topcoat-navigation-bar__title"  ng-click="$spMenu.toggle()"><img style="float:center; width:29px; height:34px; margin-top:-1px;"  src="resources/img/list.png" ></img></h1>
            
        </div>
        <div class="topcoat-navigation-bar__item center half">
              <a href="#main"><h1 class="topcoat-navigation-bar__title"><img style="float:center; width:60px; height:60px; margin-right:10px;"  src="resources/img/logo.png" ></img></h1></a>
        </div>
		
		  <div class="topcoat-navigation-bar__item right quarter">
              <a href="#main"><h1 class="topcoat-navigation-bar__title" ng-click="reload()"><img style="float:center; width:54px; height:52px; margin-top:5px;"  src="resources/img/refresh2.png" ></img></h1></a>
        </div>
		
    </div>
  <!------------------------ Main Content------------------------>  	
    <div class="content">
		<center><h2>Settings</h2>
		1. Share this Application<facebook,googleplus,sms,email><br>
		2. Push Settings<br>
		3. Follow Lecturers(A select box dropdown should do)<br><br>
	</div>
</div>