


#reportheader{
  position: absolute;
  top:55px;
  width:100%;
  text-align: center;
}


.list1{
	list-style-type: none;
	border: 1px solid #0099CB;
	font-size: 15px;
}

#center-list{
	margin-left: -25px;
}


table{
 font-size:15px;
}
th{
 background:#0099CB;
 color: white;
}