<!------------------------ Menu Slider ------------------------>
<div id="sp-nav">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
         
		 <li class="topcoat-list__item2"  style="height:88px">
		    <a href="#/profile">
			<img style="float:left; width:84px; height:91px; margin-right:10px;" src="resources/img/0003.png" />
			Hayden Sookchand<br>Electronic Eng
			</a>
		 </li>   
		
		<li class="topcoat-list__item2">
		    <img src="lecturermodules/resources/img/icon-home.png" />
			<a href="#/reports">Home</a>
		</li>		  
		
		<li class="topcoat-list__item2" >
		    <img  src="lecturermodules/resources/img/icon-messages.png" />
			<a href="#/reports">Reports</a>
		</li>
        
		<li class="topcoat-list__item2" >
		    <img src="lecturermodules/resources/img/icon-settings.png" />
			<a href="#/settings">Settings</a>
		</li>
		
		<li class="topcoat-list__item2" ng-click="reload()">
		   <img src="lecturermodules/resources/img/refresh2.png" />
			Refresh
		</li>	
		
		 <li class="topcoat-list__item2" style="height:15px">
		   <img src="lecturermodules/resources/img/logout.png" />
		   <a href="#/">Logout</a>
		 </li>
		 
        </ul>
    </div>
</div>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggle()">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
              <a href="#main"><h1 class="topcoat-navigation-bar__title">NoticeBoard</h1></a>
        </div>
    </div>
 <!------------------------ Main Content------------------------>   	
    <div class="content">
		<ul class="topcoat-list">
			<li class="topcoat-list__item">
			<div>
			<img style="float:left; width:84px; height:91px; margin-right:10px;"class="movieimg" src="lecturermodules/resources/img/{{id}}.png" />
			<strong style="font-size:18px;">Notice Board of</strong><p style="font-size:16px;">{{title}}</p></div>
			<div style="clear:both;"></div>   
			</li>
			<li class="topcoat-list__item" class="home" ng-repeat="item in msg | filter:{empid: id }"><strong>  {{ item.notice}} </strong> [Date]  </li>
		</ul>
	</div>
</div>
