<!------------------------ Main Content------------------------>   
	<div class="content">				
		<div class="main_title">DashBoard</div>
			<ul id="initial" ng-model="html" ng-show="show_initial">
				<li  ng-repeat="item in subject" class="main_list">
					<div ng-click='updateView(item.id)'>
					<img class="main_folder" src="lecturermodules/resources/img/folder_icon.png" />
					<div class="main_subject">{{item.name}}</div>
					<div class="main_code">{{item.id}}</div>
					</div>
				</li>
			</ul>
<!------------------------------------------------------------------>		
		<ul id="directory_options" ng-show="show_directory_options">
		<li>
		<div>
		<input type="button" id="back" value="Up" ng-click="goBack()">
		<input type="text" id="folder_name" maxlength="30" ng-model="folder_name"  ng-change="checkCharacters()">
		<input type="button" value="Create Folder" ng-disabled="is_folder_button_disabled" ng-click="addFolder(folder_name)">
		<span id="folder_error" class="hidden">Cannot create a folder with \ / : * ? " < > | in its name</span>
		</div>
		</ul>
		</li>
<!------------------------------------------------------------------>			
		<div ng-file-drop ng-show="show_file_upload">
		
		 <center>{{ uploader.queue.length }} file(s) Awaiting Upload. </center>
		 
			<div ng-file-drop ng-show="show_file_upload">
			<input ng-file-select type="file" multiple /><br>
				<div ng-show="uploader.isHTML5">
					<div class="over-zone zone" ng-file-over></div>
				</div>
			</div>
			
			 
        <ul>
            <li ng-repeat="item in uploader.queue" class="main_list">
			<img class="main_folder" src="lecturermodules/resources/img/file.png" />
                <div class="main_subject">{{ item.file.name }}</div>
                <div class="main_code">{{ item.file.size/1024|number:2 }} KB</div>
                <div ng-show="uploader.isHTML5">
                   {{ item.progress }}
                    <div class="item-progress-box">
                        <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </div>
                
				<div class="main_controls">
                    <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                    <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
                    <button ng-click="item.remove()">Remove</button>
                </div>
            </li>
		<button class="main_controls" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Upload all</button>
        </ul>
		</div>
<!--------------------------Folders Go Here--------------------------------------------->
		<ul id="folder" ng-show="show_folder">
			<li  ng-repeat="item in dir | filter:{folder:'true'}"  class="main_list">
			<div>
				<img class="main_folder"  src="lecturermodules/resources/img/folder_icon.png" />
				<div class="main_subject" ng-click='updateView(item.path)'>{{item.name}}</div>
				<div>
					<input class="main_delete" type="button" value="Delete Folder" ng-click="removeFolder(item.path)"></p>
				</div>
			</div>
			</li>
		</ul>	
<!----------------------Files Go Here------------------------------------------------->
		<ul id="file" ng-show="show_file">
			<li  ng-repeat="item in dir | filter:{folder:'false'}" class="main_list">
				<div>
				<img class="main_folder" src="lecturermodules/resources/img/file.png" />
				<div class="main_subject"><a ng-href="{{ip}}/lecturer/{{item.path}}" download>{{item.name}}</a></div>
					<div>
						<input class="main_delete" type="button" value="Delete File" ng-click="removeFile(item.path)"></p>
					</div>
				</div>
			</li>
		</ul>
		

