<!------------------------ Main Content------------------------>   
<div class="content">	 
	<div class="main_title">Notice History</div>
		<ul id="feeds" ng-model="html">
			<li  ng-repeat="item in notices | orderBy:item.time" class="notice_history-list__item" style="background-color: #FFFFFF;">
			<div class="notice_history-title"><b> {{item.module}} - {{item.title}}</b></div><br>
			<div class="notice_history-notice"> {{item.notice}}</div>
			<div class="notice_history-sent"> Sent on: {{item.time}}</div>
			
			<div class ="notice_history-delete" ng-click="deleteNotice(item.id)">
			   <img class="notice_history-delete-icon" src="lecturermodules/resources/img/delete_icon.png">
			   <div class="notice_history-delete-text"> Delete</div>
			</div>
			</li>
		</ul>
</div>
	
	
	

	