<!------------------------ Menu Slider ------------------------>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
           
        </div>
        <div class="topcoat-navigation-bar__item center half">
              <a href="#main"><h1 class="topcoat-navigation-bar__title">NoticeBoard</h1></a>
        </div>
    </div>
 <!------------------------ Main Content------------------------>   
	<div class="content" style="border:none">	   
		<b>ScreenShots : What needs to be done here</b>
		<br><br>
		
		<b>NB Logo</b><br><br><br><br>
		 <img class="tab-icon"  src="lecturermodules/resources/img/art/NB_logo_dark.png"><br><br><br><br><br>
		 <b>NB Logo 2</b><br>
		<img class="tab-icon" src="lecturermodules/resources/img/art/NB_logo_light.png"><br><br><br><br><br>
        <b>Login Page</b><br>
		<img class="tab-icon" src="lecturermodules/resources/img/art/noticeBoard_login.jpg"><br><br><br><br><br>
		<b>Splash Page</b><br>
		 <img class="tab-icon" src="lecturermodules/resources/img/art/noticeBoard_splash.jpg"><br>
		 
		 
		 
	</div>
	
	
	

	<!-----Nav------------------------------------>
	  <nav class="bar-tab">
    <ul>
      <li class="tab-item active">
        <a href="#/">
          <img class="tab-icon" src="lecturermodules/resources/img/icon-home1.png">
          <div class="tab-label">Drag And Drop</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#/reports">
          <img class="tab-icon" src="lecturermodules/resources/img/icon-profile.png">
          <div class="tab-label">Add Notices</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#settings">
          <img class="tab-icon" src="lecturermodules/resources/img/icon-settings0.png">
          <div class="tab-label">Settings</div>
        </a>
      </li>
	  
	   <li class="tab-item">
	   <a href="#profile">
      <br>Art
	   </a>
      </li>
	   
	  <li class="tab-item">
      Log Out
      </li>
	
    </ul>
  </nav>