
 <!------------------------ Main Content------------------------>   
	<div class="content" style="border:none">	   
		<b>ScreenShots : What needs to be done here</b>
		<br><br>
		
		<b>NB Logo</b><br><br><br><br>
		 <img class="tab-icon"  src="lecturermodules/resources/img/art/NB_logo_dark.png"><br><br><br><br><br>
		 <b>NB Logo 2</b><br>
		<img class="tab-icon" src="lecturermodules/resources/img/art/NB_logo_light.png"><br><br><br><br><br>
        <b>Login Page</b><br>
		<img class="tab-icon" src="lecturermodules/resources/img/art/noticeBoard_login.jpg"><br><br><br><br><br>
		<b>Splash Page</b><br>
		 <img class="tab-icon" src="lecturermodules/resources/img/art/noticeBoard_splash.jpg"><br>
 
	</div>
	
	
	