<!------------------------ Menu Slider ------------------------>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
           
        </div>
        <div class="topcoat-navigation-bar__item center half">
              <a href="#main"><h1 class="topcoat-navigation-bar__title">NoticeBoard</h1></a>
        </div>
    </div>
 <!------------------------ Main Content------------------------>   
	<div class="content">	   
		<b>Settings: What needs to be done here</b>
		<br><br>
	
	<form class="simple-form">
	<!--	<select name="module" ng-model="user_title">
		<options ng-repeat="title in titles" ng-selected="{{title.name==selectedTitle}}" value="{{title.name}}" >{{title.name}}</options>
		</select> -->
		
	Title: <input type="text" ng-model="user_title" /><br />
    Name: <input type="text" ng-model="user_name" /><br />
	Last Name: <input type="text" ng-model="user_lname" /><br />
    E-mail: <input type="email" ng-model="user_email" /><br />
	<input type="button" ng-click="save()" value="Save">
	<span ng-show="show_details_status">{{details_status}}</span>
    

  </form>

		 
		 <div id="file-upload" ng-file-drop>

                <div>

                    <h3>Select files</h3>

                

                    <!-- 2. ng-file-select | ng-file-select="options" -->
                  
                    <input ng-file-select type="file"/><br/>
                </div>

                <div >
					<span ng-show="uploader.isHTML5">Progress</span>
					<ul>
						<li ng-repeat="item in uploader.queue">
						<div ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                         </div>
					</ul>

                  </div>

       
			
		<div ng-show="is_upload_complete">
				Upload Successful
			</div>
		
	
	</div>
	
	<div ng-show="show_default_image">
		<img ng-src="{{default_pic}}" />
	</div>
	
	<div ng-show="show_custom_image" class="gallerypic" ng-click="deleteProfilePic()">

		<img src={{img}} height="140" width="140" alt="[Gallery Photo]" class="pic" />
		<span class="zoom-icon"><img ng-src="{{delete_pic}}" width="50" height="50" alt="Zoom"></span>

	</div>
	
	</div>
	
		
	
	
	

	<!-----Nav------------------------------------>
	  <nav class="bar-tab">
    <ul>
      <li class="tab-item active">
        <a href="#/">
          <img class="tab-icon" src="lecturermodules/resources/img/icon-home1.png">
          <div class="tab-label">Drag And Drop</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#/reports">
          <img class="tab-icon" src="lecturermodules/resources/img/icon-profile.png">
          <div class="tab-label">Add Notices</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#settings">
          <img class="tab-icon" src="lecturermodules/resources/img/icon-settings0.png">
          <div class="tab-label">Settings</div>
        </a>
      </li>
	  
	   <li class="tab-item">
	   <a href="#profile">
      <br>Art
	   </a>
      </li>
	    <li class="tab-item">
      <br>Log Out
      </li>
	
    </ul>
  </nav>