
 <!------------------------ Main Content------------------------>   
	<div class="content">	
   	
		<div ng-click="invertMarks()">Upload marks</div>
		<div ng-show="show_marks">
			<div>
				<select ng-model="test" id="mark_subject" ng-change="setSelectedMarkSubject()">
				<option ng-repeat="item in subject" value={{item.id}}>{{item.name}}</option>
				</select>
			</div>
			<div>
				<h3>Select files</h3>
                <input ng-file-select type="file"/><br/>
            </div>
		</div>
	
		<div ng-click="invertStudents()">Upload students </div>
		<div ng-show="show_students">
			<div>
				<select ng-model="test2" id="student_subject" ng-change="setSelectedStudentSubject()">
				<option ng-repeat="item in subject" value={{item.id}}>{{item.name}}</option>
				</select>
			</div>
			<div>
				<h3>Select files</h3>
                <input ng-file-select type="file"/><br/>
            </div>
		</div>	 
		
		
        <div >
			<span ng-show="uploader.isHTML5">Progress</span>
			<ul>
				<li ng-repeat="item in uploader.queue">
					<div ng-show="uploader.isHTML5">
						<div class="progress" style="margin-bottom: 0;">
							<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
					</div>
			</ul>

        </div>
		
		<div ng-show="is_upload_complete">
			Upload Successful
		</div>
	</div>
	
	

	