<!------------------------ Menu Slider ------------------------>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
           
        </div>
        <div class="topcoat-navigation-bar__item center half">
              <a href="#main"><h1 class="topcoat-navigation-bar__title">NoticeBoard</h1></a>
        </div>
    </div>
 <!------------------------ Main Content------------------------>   
	<div class="content">	   
		<b>Drag and Drop: What needs to be done here</b>
		<br><br>
		On load we will receive a json file from the server telling us what subjects the lecturer is teaching.
		A list will then be populated,  with the name of all the subjects that the lecturer teaches and he will be able to access these files triggering a new request each time. It will be good to make only this part of the screen update. / Ajax can do that /	
		<br>
		<b>This is what dropbox does. So it needs to look as close too or better than</b><br>
		
		 <img class="tab-icon" src="resource/img/dropbox.png">
		 
	</div>
	
	
	

	<!-----Nav------------------------------------>
	  <nav class="bar-tab">
    <ul>
      <li class="tab-item active">
        <a href="#/">
          <img class="tab-icon" src="resource/img/icon-home1.png">
          <div class="tab-label">Drag And Drop</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#/reports">
          <img class="tab-icon" src="resource/img/icon-profile.png">
          <div class="tab-label">Add Notices</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#settings">
          <img class="tab-icon" src="resource/img/icon-settings0.png">
          <div class="tab-label">Settings</div>
        </a>
      </li>
	  <li class="tab-item">
	   <a href="#profile">
      <br>Art
	   </a>
      </li>
	    <li class="tab-item">
      <br>Log Out
      </li>
	
    </ul>
  </nav>