<!------------------------ Menu Slider ------------------------>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
           
        </div>
        <div class="topcoat-navigation-bar__item center half">
              <a href="#main"><h1 class="topcoat-navigation-bar__title">NoticeBoard</h1></a>
        </div>
    </div>
 <!------------------------ Main Content------------------------>   
	<div class="content">	
   	
		<b>Drag and Drop: What needs to be done here</b>
		 <a href="#dropbox">Dropbox</a>
		<br><br>
		On load we will receive a json file from the server telling us what subjects the lecturer is teaching.
		A list will then be populated,  with the name of all the subjects that the lecturer teaches and he will be able to access these files triggering a new request each time. It will be good to make only this part of the screen update. / Ajax can do that /	
		<br>
		<b>This is what dropbox does. So it needs to look as close too or better than</b><br>
		
		<ul id="initial" ng-model="html">
		<li  ng-show="ready" ng-repeat="item in subject" class="topcoat-list__item" style="background-color: #FFFFFF;">
		
		<div ng-click='updateView("{{item.id}}")'>
		<img style="float:left; width:42px; height:45px; margin-right:10px;"class="movieimg" src="resources/img/{{item.empid}}.png" />
		<strong style="font-size:17px;">{{item.name}}</strong><p style="font-size:12px;">{{item.id}}</p>
		</div>
		<div style="clear:both;"></div>   

		</li>
		</ul>
		
		<div id="directory_options" class="hidden">
		<input type="button" id="back" value="Up" ng-click="goBack()">
		<input type="text" id="folder_name" maxlength="30" ng-model="folder_name"  ng-change="checkCharacters()">
		<input type="button" value="Create Folder" ng-disabled="is_folder_button_disabled" ng-click="addFolder(folder_name)">
		<span id="folder_error" class="hidden">Cannot create a folder with \ / : * ? " < > | in its name</span>
		</div>
		
		<ul id="folder" class="hidden">
		<li  ng-show="ready" ng-repeat="item in dir | filter:{folder:'true'}" class="topcoat-list__item" style="background-color: #FFFFFF;">
		<div>
		<img style="float:left; width:42px; height:45px; margin-right:10px;"class="movieimg" src="resources/img/{{items.id}}.png" />
		<strong style="font-size:17px;" ng-click='updateView("{{item.path}}")'>{{item.name}}</strong><p style="font-size:12px;"><input type="button" value="Delete Folder" ng-click="removeFolder(item.path)"></p>
		</div>
		<div style="clear:both;"></div>   

		</li>
		</ul>
		<ul id="file" class="hidden" ng-bind-html="myHTML">
		<li  ng-show="ready" ng-repeat="item in dir | filter:{folder:'false'}" class="topcoat-list__item" style="background-color: #FFFFFF;">
		<div>
		<img style="float:left; width:42px; height:45px; margin-right:10px;"class="movieimg" src="resources/img/{{items.id}}.png" />
		<strong style="font-size:17px;"><a ng-href="http://localhost:3000/lecturer/{{item.path}}" download>{{item.name}}</a></strong><p style="font-size:12px;"><input type="button" value="Delete File" ng-click="removeFile(item.path)"></p>
		</div>
		<div style="clear:both;"></div>   

		</li>
		</ul>
		 		 
	</div>
	
	

	<!-----Nav------------------------------------>
	  <nav class="bar-tab">
	  
    <ul>
	
	 <li>
		Who gets to see this?<select name="module" ng-model="notice_subject" ng-change="checkNoticeButton()">
		
		<option value="ALL">All</option>
		<option ng-repeat="item in subject" value={{item.id}}>{{item.name}}</option>
		</select>
		
		<input type="text" name="title" placeholder="Enter title" ng-model="notice_title" ng-change="checkNoticeButton()"></input></br>
         Notice<textarea name="notice" maxlength="140" ng-model="notice_body" ng-change="checkLimit()"></textarea>{{notice_text_limit}}
		<input type="button" value="Add" ng-disabled="is_notice_button_disabled" ng-click="addNotice(notice_subject, notice_title, notice_body)"></input>
		</li>
      <li class="tab-item active">
        <a href="#/">
          <img class="tab-icon" src="resource/img/icon-home1.png">
          <div class="tab-label">Drag And Drop</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#/mynotices">
          <img class="tab-icon" src="resource/img/icon-profile.png">
          <div class="tab-label">Add Notices</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#settings">
          <img class="tab-icon" src="resource/img/icon-settings0.png">
          <div class="tab-label">Settings</div>
        </a>
      </li>
	  <li class="tab-item">
	   <a href="#profile">
      <br>Art
	   </a>
      </li>
	    <li class="tab-item">
      <br>Log Out
      </li>
	
    </ul>
  </nav>