<!------------------------ Menu Slider ------------------------>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
           
        </div>
        <div class="topcoat-navigation-bar__item center half">
              <a href="#main"><h1 class="topcoat-navigation-bar__title">NoticeBoard</h1></a>
        </div>
    </div>
 <!------------------------ Main Content------------------------>   
	<div class="content">	   
		<b>Settings: What needs to be done here</b>
		<br><br>
		Will be added as we need them<br>
	
		 
		 
	</div>
	
	
	

	<!-----Nav------------------------------------>
	  <nav class="bar-tab">
    <ul>
      <li class="tab-item active">
        <a href="#/">
          <img class="tab-icon" src="resource/img/icon-home1.png">
          <div class="tab-label">Drag And Drop</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#/reports">
          <img class="tab-icon" src="resource/img/icon-profile.png">
          <div class="tab-label">Add Notices</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#settings">
          <img class="tab-icon" src="resource/img/icon-settings0.png">
          <div class="tab-label">Settings</div>
        </a>
      </li>
	  
	   <li class="tab-item">
	   <a href="#profile">
      <br>Art
	   </a>
      </li>
	    <li class="tab-item">
      <br>Log Out
      </li>
	
    </ul>
  </nav>