<!------------------------ Menu Slider ------------------------>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
           
        </div>
        <div class="topcoat-navigation-bar__item center half">
              <a href="#main"><h1 class="topcoat-navigation-bar__title">NoticeBoard</h1></a>
        </div>
    </div>
 <!------------------------ Main Content------------------------>   
	<div class="content">	
   	
		<div ng-click="invertMarks()">Upload marks</div>
		<div ng-show="show_marks">
			<div>
				<select ng-model="test" id="mark_subject" ng-change="setSelectedMarkSubject()">
				<option ng-repeat="item in subject" value={{item.id}}>{{item.name}}</option>
				</select>
			</div>
			<div>
				<h3>Select files</h3>
                <input ng-file-select type="file"/><br/>
            </div>
		</div>
	
		<div ng-click="invertStudents()">Upload students </div>
		<div ng-show="show_students">
			<div>
				<select ng-model="test2" id="student_subject" ng-change="setSelectedStudentSubject()">
				<option ng-repeat="item in subject" value={{item.id}}>{{item.name}}</option>
				</select>
			</div>
			<div>
				<h3>Select files</h3>
                <input ng-file-select type="file"/><br/>
            </div>
		</div>	 
		
		
        <div >
			<span ng-show="uploader.isHTML5">Progress</span>
			<ul>
				<li ng-repeat="item in uploader.queue">
					<div ng-show="uploader.isHTML5">
						<div class="progress" style="margin-bottom: 0;">
							<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
					</div>
			</ul>

        </div>
		
		<div ng-show="is_upload_complete">
			Upload Successful
		</div>
	</div>
	
	

	<!-----Nav------------------------------------>
	  <nav class="bar-tab">
	  
    <ul>
	
	 <li>
		<form id="addnotice" method="post" action="http://10.0.0.10:3000/addnotice" >
		Who gets to see this?<select name="module" >
		<option value="all">All</option>
		<option ng-repeat="item in subject" value={{item.id}}>{{item.name}}</option>
         Notice<textarea name="notice"></textarea>
		 <input type="hidden" name="lecturer" value={{lecturer_id}}>
		<button type="submit">Go</button>
		</form>
		</li>
      <li class="tab-item active">
        <a href="#/">
          <img class="tab-icon" src="resource/img/icon-home1.png">
          <div class="tab-label">Drag And Drop</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#/reports">
          <img class="tab-icon" src="resource/img/icon-profile.png">
          <div class="tab-label">Add Notices</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#settings">
          <img class="tab-icon" src="resource/img/icon-settings0.png">
          <div class="tab-label">Settings</div>
        </a>
      </li>
	  <li class="tab-item">
	   <a href="#profile">
      <br>Art
	   </a>
      </li>
	    <li class="tab-item">
      <br>Log Out
      </li>
	
    </ul>
  </nav>