.main_title{
color: #A5A5A5;
}

ul#folder{
 border-bottom: 0px solid #C5C5C5;
}
ul {
 border-bottom: 1px solid #C5C5C5;
}

.main_list{
  height:60px;
  border-bottom: 0px solid #C5C5C5;
  border-top:  1px solid #C5C5C5;
  margin-left: -37px;
}

ul #folder {
 border-bottom: 0px solid #C5C5C5;;
}

.main_folder{
  float: left;
  width: 39px;
  height: 34px;
  margin-left: 24px;
  margin-top: 9px;
}

.main_subject{
  font-size: 14px;
  margin-top: 15px;
  margin-left: 89px;
  position: absolute;
  color:#35393C;
}

.main_code{
  font-size: 12px;
  margin-left: 91px;
  position: absolute;
  margin-top: 30px;
}

.main_delete{
 margin-left: 500px;
 margin-top: 14px;
}

.main_controls{
 margin-left: 500px; 
 position:absolute;
 margin-top: -34px;
}

.main-delete{
  margin-left:500px;
  margin-top:12px;
  height:40px;
  width:90px;
  background-color:#36B77E;
  border-radius: 10px;
  position: absolute;
}
.main-delete-icon{
  margin-top:15px;
  margin-left:13px;
}

.main-delete-text{
  margin-top:-20px;
  margin-left:35px;
  color:white;
}
